$photo-size: 200px;
$person-height: 240px;
$rank-size: 32px;
$rank-text-color:#8B0000;
$name-color:#2F4F4F;

.people {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 40px;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  max-width: fit-content;

  @media (min-width:960px) {
    grid-template-columns: repeat(4, 1fr);
  }
}


.person {
  display: block;
  width: $photo-size;
  height: $person-height;
  transition: all 1s;

  &:hover {
    background-color: #EEEEEE;
    transform: scale(1.2);
    z-index: 1;

     .extra {
       visibility: visible;
    }
  }
}

.photo {
  width: $photo-size;
  height: $photo-size;
  border-radius: 200px;
  position: relative;
}

.rank {
  position: absolute;
  display: flex;

  width: $rank-size;
  height: $rank-size;
  background-color: white;

  font-size: 16px;
  line-height: 18.4px;
  text-align: center;
  font-weight: bold;
  color: $rank-text-color;
  border-radius: 50%;
  justify-content: center;
  align-items: center;


  bottom: calc($photo-size/2 - $rank-size/2);
  left: calc($photo-size - $rank-size);
}

.name {
  display: block;
  width: $photo-size;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: $name-color;
  font-weight: bold;
}

.extra {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-content: center;
  visibility: hidden;

  &__sport {
    font-size: 18px;
    line-height: 20.7px;
    text-align: center;
  }

  &__pay {
    font-size: 18px;
    line-height: 20.7px;
    text-align: center;
  }
}
